<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'application/header'%>
<div class="mt30 fl"></div>
<div class="cb"></div>

  <div class="mt30 ml20">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  </div>

<%= yield %>

<div id="footer">
  <div class="fl mt20 ml20">Shareyourtest.com - 2014</div>
  <div class="fr mt20 mr20">Github: <a href="https://github.com/lmajowka/shareyourtest">https://github.com/lmajowka/shareyourtest</a></div>
</div>

</body>
</html>
