<!DOCTYPE html>
<html>
<head>
  <title>Shareyourtest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div id="logo"><%= link_to 'Share Questions', root_path  %></div>
</div>

  <div class="mt40 ml20">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  </div>

<%= yield %>

<div id="footer">
  <div class="mt10 ml20">ShareQuestions - 2014</div>
</div>

</body>
</html>
