<!DOCTYPE html>
<html>
<head>
  <title>Shareyourtest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div id="logo"><%= link_to 'Share your Test', root_path  %></div>

  <div class="fl mt20 ml40"><%= link_to 'Answer Tests', tests_path()%></div>
  <div class="fl mt20 ml40"><%= link_to 'Share your Test', new_test_path() %></div>

  <div class="fr mr95 mt20">
  <% if signed_in? %>
    <li id="fat-menu" class="dropdown lsnone" >
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <!--<li><%= link_to "Profile", current_user %></li>-->
        <!--<li><%= link_to "Settings", '#' %></li>-->
        <li class="divider"></li>
        <li>
          <%= link_to "Sign out", signout_path, method: "delete" %>
        </li>
      </ul>
    </li>
  <% else %>
    <li class="lsnone"><%= link_to "Sign in", signin_path %></li>
  <% end %>
  </div>

</div>

  <div class="mt40 ml20">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  </div>

<%= yield %>

<div id="footer">
  <div class="mt10 ml20">Shareyourtest.com - 2014</div>
</div>

</body>
</html>
