<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55397368-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>
<body>

<%= if not @homepage
     render 'application/header'
   end %>
<div class="cb"></div>

<% if not @homepage %><div class="pl40"><% end %>
  <%= yield %>
<% if not @homepage %></div><% end %>

<% if not @homepage %>
<div id="footer">
  <div class="fl mt20 ml20">Shareyourtest.com - 2014</div>
  <div class="fl fb-like mt20 ml40" data-href="http://www.shareyourtest.com/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  <div class="fr mt20 mr20">Github: <a href="https://github.com/lmajowka/shareyourtest">https://github.com/lmajowka/shareyourtest</a></div>
</div>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1476794865887392&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>



